// VARIABLES

$color-light: #DAD2BC;
$color-dark: #403F4C;

$color-primary:#628395;

$color-secondary:#454B66;

$color-reject-light: #CB9173;
$color-reject: #A8201A;


$color-accept: #66A182;
$color-accept-light:#CAFFB9;